body{
  height:auto;
  background-color:#EEE;
}

.container{
  width:960px;
  margin:auto;
  background-color:white;
}

.column{
  border-top:solid 2px blue;
  border-bottom:solid 2px blue;
  height:500px;
  width:100px;
  display:inline-block;
  margin-right:-7px;
  margin-top:50px;
  margin-bottom:50px;
}

.first{
  border-left:solid 2px blue;
  margin-left:125px;
}

.last{
  border-right:solid 2px blue;
}

.block{
  border:solid 2px blue;
  border-radius:500px;
  height:70px;
  width:70px;
  display:inline-block;
  margin-top:5px;
  background-color:white;
}

.column:hover{
  background-color:blue;
  transition:linear 0.3s;
}

.button{
  display:inline-block;
  text-align:center;
}

input{
  margin-top:15px;
}